<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ser quién quiero ser</title>
</head>
<body>
    
<h2>Soy Celeste</h2>
<h1>Yendo a mi meta</h1>

<img src="/images/sueños.jpg" alt="Sueña">

<h4>Si siempre fuiste quién creías que eras por tu pasado, es hora de ser quién quieres realmente ser.</h4>

<p> Si quieres tener una vida feliz, átala a un objetivo</p>

<p>"El hombre puede ser, si se lo propone, escultor de su propio cerebro" Santiago Ramón y Cajal</p>


<ol>
    <li>Introspección</li>
    <li>Deseo</li>
    <li>Convicción</li>
</ol>

<ul>
    <li>Perseverancia</li>
    <li>Paciencia</li>
    <li>Voluntad</li>
    
</ul>

</body>
</html>